html {
    padding-top: 25px;
}

body {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    background-color: #f1f1f1;
}

h1 {
    color: #276ab0;
    font-size: 3em;
    margin: 0;
    font-family: "Kurale", "Arial Black", serif;
    font-weight: normal;
}

h2 {
    color: #f46d2b;
    font-family: "Kurale", "Arial Black", serif;
    font-weight: normal;
    font-size: 2.2em;
    border-bottom: 2px white solid;
    background: url(images/head-icon.png) no-repeat 10px 10px;
    padding: 0 0 2px 60px;
    margin: 0;
}

.intro {
    color: #666666;
    font-family: "Kurale", "Helvetica", sans-serif;
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 25px;
}

p, address {
    font-family: "Palatino Linotype", Baskerville, serif;
    font-size: 1.25em;
    color: #75757f;
    line-height: 150%;
    margin-top: 20px;
    margin-left: 60px;
}